{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #bottom-arrow i:hover{
            color: blue !important;
        }

        @media screen and (max-width: 991px){
           body .container p + .d-flex .card{
                width: 30% !important;
            }
        }

        @media screen and (max-width: 768px){
           body .container p + .d-flex .card{
                width: 70% !important;
                margin: 0 auto;
            }
        }
    </style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-center" id="top">Snowtricks</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae possimus ullam neque cum excepturi 
        quibusdam quidem dolor voluptatibus, culpa maxime.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt neque temporibus quam, soluta veritatis 
        similique minima consectetur ut eum eius commodi consequuntur, ratione esse accusantium asperiores itaque laborum 
        tempora ex provident veniam doloremque numquam. Minima, cumque aperiam debitis illum ab vel ad quidem! Deleniti 
        veritatis tempore similique? Obcaecati, laboriosam qui!
    </p>

    <div class="d-flex flex-row flex-wrap p-2 bd-highlight mb-4">
        {% for trick in tricks %}
            {% include "partials/_card.html.twig" with {'trick': trick} only %}
        {% endfor %}
    </div>

    {% if tricksCount > 15 %}
        <div class="text-end position-relative pb-4">
            <a href="#top" class="fs-1" id="bottom-arrow">
                <i class="fa-solid fa-arrow-up text-light position-absolute end-2">
                </i>
            </a>
        </div>
    {% endif %}    
{% endblock %}
