{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #bottom-arrow i:hover{
            color: blue !important;
        }
        
        .hidden{
            display: none !important;
        }

        #arrowUp{
            display: none;
        }

        @media screen and (max-width: 1200px){
            .card{
                width: 30%;
            }
        }

        @media screen and (max-width: 991px){
           body .container p + .d-flex .card{
                width: 30% !important;
            }
        }

        @media screen and (max-width: 768px){
            .card{
                width: 90%;
            }
        }
    </style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-center" id="top">Snowtricks</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae possimus ullam neque cum excepturi 
        quibusdam quidem dolor voluptatibus, culpa maxime.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt neque temporibus quam, soluta veritatis 
        similique minima consectetur ut eum eius commodi consequuntur, ratione esse accusantium asperiores itaque laborum 
        tempora ex provident veniam doloremque numquam. Minima, cumque aperiam debitis illum ab vel ad quidem! Deleniti 
        veritatis tempore similique? Obcaecati, laboriosam qui!
    </p>


    <div class="text-end position-relative pb-4">
        <a href="#tricks" class="fs-1">
            <i class="fa-solid fa-arrow-down text-light position-absolute end-2">
            </i>
        </a>
    </div>

    <div class="d-flex flex-row flex-wrap p-2 bd-highlight mb-4" id="tricks">
        {% set count = 1 %}
        {% for trick in tricks %}
            {% include "partials/_card.html.twig" with {'trick': trick, 'count': count} only %}
            {% set count = count + 1 %}
        {% endfor %}
    </div>

    {# #arrow #}
    {% if tricksCount > 15 %}
        <button id="loader" class="btn btn-success d-block w-25 mx-auto">Load more</button>
        <div id="arrowUp" class="text-end position-relative pb-4">
            <a href="#top" class="fs-1">
                <i class="fa-solid fa-arrow-up text-light position-absolute end-2">
                </i>
            </a>
        </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    <script>
        const hiddenCards = document.getElementsByClassName('hidden');
        const cards = Array.from(hiddenCards);

        if(cards.length > 0){
            const loadMore = document.getElementById('loader');

            loadMore.addEventListener('click', function(){                
                for(card of cards){
                    card.classList.remove('hidden');
                }

                loadMore.classList.add('hidden');
                document.getElementById('arrowUp').style.display = "inherit";
            });
        }
    </script>
{% endblock %}
