{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/css/passwordreset.css') }}>
{% endblock %}

{% block body %}
    <h1 class="text-center">Reset your password</h1>

    {{ form_start(resetForm, {'attr': {'class': 'col-4 mx-auto mt-5 mb-5'}}) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary w-50 mt-2" style="margin-left: 50%; transform: translateX(-50%);">
            Reset password
        </button>
    {{ form_end(resetForm) }}
{% endblock %}
