button {
  font-size: 0.8rem !important;
}

#see-media {
  display: none;
}
.hide {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }

  #see-media {
    display: initial;
  }
}
